/* ---------- General styles ---------- */
@import "./utilities/reset.css";
@import "./utilities/typography.css";
@import "./utilities/colors.css";

/* ---------- Components ---------- */
@import "./components/container.css";
@import "./components/buttons.css";

/* ---------- Page styles ---------- */
@import "./page/header.css";
@import "./page/hero.css";

/* ----- Banner ----- */
/*
main{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.main-title{
    font-size: 60px;
    color: #000;
    max-width: 14ch;
    margin-bottom: 35px;
}

.main-description{
    font-size: 20px;
    line-height: 28px;
    color: #000;
    max-width: 39ch;
    margin-bottom: 35px;
}

.companies{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.companies img{
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}

.companies img:hover{
    filter: grayscale(0);
}*/