/* ---------- General styles ---------- */
@import "./utilities/reset.css";
@import "./utilities/typography.css";
@import "./utilities/colors.css";

/* ---------- Components ---------- */
@import "./components/buttons.css";

/* ---------- Page styles ---------- */
@import "./page/header.css";

/* ----- Utilities classes ----- 
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

@media(max-width: 1300px){
    .container{
        padding: 0 60px;
    }
}

@media(max-width: 1000px){
    .container{
        padding: 0 40px;
    }
}

@media(max-width: 768px){
    .container{
        padding: 0 30px;
    }
}

@media(max-width: 576px){
    .container{
        padding: 0 20px;
    }
}

/* ----- Header ----- 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.header button{
    display: none;
}

.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: var(--black);
    position: relative;

    font-size: 20px;
    line-height: 28px;
}

.menu-link::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--black);
    position: absolute;
    margin-top: 4px;
    transition: 0.3s;
}

.menu-link:hover::after{
    width: 100%;
}

.btn{
    display: block;
    border: 2px solid var(--dark-blue);
    text-decoration: none;
    max-width: max-content;
    cursor: pointer;
    padding: 20px 35px;
    border-radius: 14px;
    transition: 0.3s;

    font-size: 20px;
    line-height: 28px;
}

.btn-primary{
    background: var(--dark-blue);
    color: var(--white);
}

.btn-secondary{
    background: transparent;
    color: var(--black);
}

@media(max-width: 1300px){
    .header{
        padding-top: 40px;
    }

    .header-logo img{
        width: 160px;
    }

    .nav-menu{
        gap: 32px;
    }

    .menu-link{
        font-size: 18px;
    }

    .btn{
        padding: 14px 28px;
        font-size: 18px;
    }
}

@media(max-width: 1000px){
    .header button{
        display: block;
    }

    .header-nav{
        display: none;
    }
}

@media(max-width: 768px){
    .header{
        padding-top: 20px;
    }
}

@media(max-width: 576px){
    .header-logo img{
        width: 140px;
    }
}

/* ----- Banner ----- */
/*
main{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.main-title{
    font-size: 60px;
    color: #000;
    max-width: 14ch;
    margin-bottom: 35px;
}

.main-description{
    font-size: 20px;
    line-height: 28px;
    color: #000;
    max-width: 39ch;
    margin-bottom: 35px;
}

.companies{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.companies img{
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}

.companies img:hover{
    filter: grayscale(0);
}*/