.heading-1{
    font: 500 60px/1.28 'Space Grotesk', Arial, sans-serif;
}

.heading-2{
    font: 500 40px/1.28 'Space Grotesk', Arial, sans-serif;
}

.heading-3{
    font: 500 30px/1.26 'Space Grotesk', Arial, sans-serif;
}

.heading-4{
    font: 500 20px/1.30 'Space Grotesk', Arial, sans-serif;
}

.paragraph{
    font: 400 18px/1.27 'Space Grotesk', Arial, sans-serif;
}

.large{
    font: 400 20px/1.4 'Space Grotesk', Arial, sans-serif;
}

@media(max-width: 1200px){
    .heading-1{
        font-size: 54px;
    }

    .large{
        font-size: 18px;
    }
}

@media(max-width: 576px){
    .heading-1{
        font-size: 43px;
    }
}

